@model List<HouseAllViewModel>
@{
    ViewData["Title"] = "My houses";
}
<h2 class="text-center"> @ViewData["Title"]</h2>
<hr />
@if(!Model.Any())
{
    <h2 class="text-center">You dont have any houses yet</h2>
        
}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_HousePartial" model="item"/>    
        }
    </div>
}